<div class="container">
  <div class="expocicion" style="background-image: url('<%= cl_image_path @post.photo%>');background-position: center;-webkit-filter: grayscale(100%); filter: grayscale(100%);">
    <div class= "padded">
      <h2>Tendencia: </h2> <br>
      <h1><%=@post.titulo%></h1>
      <br>
      <h6 class="btn btn-primary">Ver más</h6>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
   <% @posts.reverse_each do |post| %>
   <%= link_to post_path(post) do %>
   <hr>
   <div class="card">
     <%= cl_image_tag post.photo, height: 300, width: 400, crop: :fill %>
     <div style="padding-left: 10px;">
      <h2><%= post.titulo %></h2>
      <p>By: <%= post.author %> | <%= post.publish %></p>
    </div>
  </div>
  <%end%>
  <% end %>
</div>
</div>

